<div class="row justify-content-center">
    <div class="col-lg-6 col-sm-10">
        <div class="row">
            <h1 class="text-center">Categorías</h1>
        </div>
        <div class="row">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        {{#if Id}} <!-- If Id is defined, we are editing a sector -->
                        <h2 class="text-center">Editando categoría</h2>
                        {{else}}
                        <h2 class="text-center">Nueva categoría</h2>
                        {{/if}}
                    </div>
                    <!-- If Id is defined, we are editing a sector -->
                    <form action="/categorias/editar/{{#if Id}}{{Id}}{{/if}}" method="POST" class="form-group">
                        
                        <input type="hidden" name="Items" id="Items">
                        <div class="card-body">
                            <label for="Descripcion" class="form-label">Descripción</label>
                            <input type="text" class="form-control" id="Descripcion" name="Descripcion"
                                value="{{categoria.Descripcion}}">
                            <label for="Area" class="form-label mt-2">Area</label>
                            <select class="form-select" aria-label="Default select example" name="Area" id="Area">
                                <option {{#ifeq categoria.Area 'Administrativa' }} selected {{/ifeq}}value="1">
                                    Administrativa</option>
                                <option {{#ifeq categoria.Area 'Operativa' }} selected {{/ifeq}}value="2">Operativa
                                </option>
                            </select>
                            <hr>
                            <div class="row mt-2">
                                <div class="col-10">
                                    <div class="h5">
                                        Items de nómina habilitados
                                    </div>
                                </div>
                                <div class="col-2 text-end">
                                    <div class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#addItemModal">Agregar</div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="addItemModal" tabindex="-1"
                                        aria-labelledby="addItemModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="addItemModalLabel">Agregar Item de
                                                        Nómina</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <select class="form-select" id="itemNominaSelect">
                                                            {{#each ItemsNomina}}
                                                            <option value="{{this.Id}}">{{this.Descripcion}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                    <button type="button" class="btn btn-primary"
                                                        id="addItemButton">Agregar</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-striped mt-3">
                                <thead>
                                    <tr>
                                        <th scope="col">Item de nómina</th>
                                        <th scope="col" class="text-center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody id="tablaItems">
                                    <!-- Acá vienen los registros de la tabla de items -->

                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary mt-2">Grabar</button>
                            <a href="/categorias" class="btn btn-primary mt-2">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{#if itemsHabilitados}}
<template id="items-habilitados-json">{{{json itemsHabilitados}}}</template>
{{/if}}
<script src="/js/categoria.js"></script>