<div class="d-flex w-auto row flex-fill mx-2">
    <div class="row flex-row justify-content-between my-2">
        <div class="col flex-col">
            <div class="h1">Guardias</div>
        </div>
        <div class="col flex-col text-end">
            <div class="container {{#ifeq pantalla " phone"}}px-2 {{/ifeq}}">
                <a href="/guardias/editar" class="btn btn-primary rounded-circle"> <i class="bi-plus h3"></i> </a>
            </div>
        </div>
    </div>
    <div class="row flex-row">
        <table class="table table-bordered table-striped">
            <thead>
                {{{encabezadoHTML}}}
            </thead>

            <tbody>
                {{#each tabla}}
                <tr>
                    <td class="text-center">{{this.Id}}</td>
                    <td>{{this.Descripcion}}</td>
                    <td class="text-center">{{HoraLocal this.Inicio}}</td>
                    <td class="text-center">{{HoraLocal this.Fin}}</td>
                    <td class="d-none d-lg-table-cell">{{#ifeq this.Tipo 1}}Diurna{{/ifeq}}{{#ifeq this.Tipo 2}}Nocturna{{/ifeq}}</td>
                    <td class="text-center">
                        {{#if @root.permiteEditar}}
                        <a type="button" class="btn btn-primary rounded-circle" href="/guardias/editar/{{this.Id}}">
                            <i class="bi-pencil-fill"></i> </a>
                        {{/if}}
                        {{#if @root.permiteBorrar}}
                        <a type="button" class="btn btn-danger rounded-circle" href="/guardias/borrar/{{this.id}}">
                            <i class="bi-trash-fill"></i> </a>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="paginador-container" data-tabla="guardias" data-ruta="/guardias">
    {{{paginador}}}
</div>




