<div class="row justify-content-center">
    <div class="col-lg-8 col-sm-10">
        <div class="row">
            <h1 class="text-center">Items de nómina</h1>
        </div>
        <div class="row">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        {{#if Id}}
                        <h2 class="text-center">Editando item de nómina</h2>
                        {{else}}
                        <h2 class="text-center">Nuevo item de nómina</h2>
                        {{/if}}
                    </div>
                    <form action="/itemsNomina/editar{{#if Id}}/{{Id}}{{/if}}" method="POST" class="form-group">
                        <div class="card-body">
                            <div class="row mt-2">
                                <label for="Descripcion" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="Descripcion" name="Descripcion" value="{{#if nomina}}{{nomina.Descripcion}}{{/if}}" required>
                            </div>
                            <div class="row mt-3 g-4">
                                <div class="col-md-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="idInformaValorSueldoBasico" name="InformaValorSueldoBasico" {{#if nomina.InformaValorSueldoBasico}}checked{{/if}}>
                                        <label class="form-check-label" for="idInformaValorSueldoBasico">Informa valor sueldo básico</label>
                                    </div>
                                    <label id="lblHorasMensuales" for="HorasMensuales" class="form-label mt-2">Horas mensuales</label>
                                    <input type="number" class="form-control" id="HorasMensuales" name="HorasMensuales" value="{{#if nomina}}{{nomina.HorasMensuales}}{{/if}}" step="0.5" min="0">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="idInformaGuardiaDiurna" name="HaceGuardiasDiurnas" {{#if nomina.HaceGuardiasDiurnas}}checked{{/if}}>
                                        <label class="form-check-label" for="idInformaGuardiaDiurna">Hace guardias diurnas</label>
                                    </div>
                                    <label id="lblHorasGuardiaDiurna" for="HorasGuardiaDiurna" class="form-label mt-2">Horas guardia diurna</label>
                                    <input type="number" class="form-control" id="HorasGuardiaDiurna" name="HorasGuardiaDiurna" value="{{#if nomina}}{{nomina.HorasGuardiaDiurna}}{{/if}}" step="0.5" min="0">
                                </div>
                            </div>
                            <div class="row mt-3 g-4">
                                <div class="col-md-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="idInformaGuardiaNocturna" name="HaceGuardiasNocturnas" {{#if nomina.HaceGuardiasNocturnas}}checked{{/if}}>
                                        <label class="form-check-label" for="idInformaGuardiaNocturna">Hace guardias nocturnas</label>
                                    </div>
                                    <label id="lblHorasGuardiaNocturna" for="HorasGuardiaNocturna" class="form-label mt-2">Horas guardia nocturna</label>
                                    <input type="number" class="form-control" id="HorasGuardiaNocturna" name="HorasGuardiaNocturna" value="{{#if nomina}}{{nomina.HorasGuardiaNocturna}}{{/if}}" step="0.5" min="0">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="idHaceGuardiasPasivas" name="HaceGuardiasPasivas" {{#if nomina.HaceGuardiasPasivas}}checked{{/if}}>
                                        <label class="form-check-label" for="idHaceGuardiasPasivas">Hace guardias pasivas</label>
                                    </div>
                                    <div class="form-check form-switch mt-3">
                                        <input class="form-check-input" type="checkbox" id="idInformaAdicionalMensual" name="TieneAdicionalMensual" {{#if nomina.TieneAdicionalMensual}}checked{{/if}}>
                                        <label class="form-check-label" for="idInformaAdicionalMensual">Tiene adicional mensual</label>
                                    </div>
                                    <label id="LblTextoAdicionalMensual" for="TextoAdicionalMensual" class="form-label mt-2">Descripción del adicional mensual</label>
                                    <input type="text" class="form-control" id="TextoAdicionalMensual" name="TextoAdicional" value="{{#if nomina}}{{nomina.TextoAdicional}}{{/if}}">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary mt-2">Guardar</button>
                            <a href="/itemsNomina" class="btn btn-secondary mt-2">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/item-nomina.js"></script>

