<div class="row flex-row align-items-center mx-2">
    <div class="col flex-column">
        <div class="h2">Nómina Valorizada</div>
    </div>
    <div class="col flex-column">
        <select class="form-select form-select-lg m-2" aria-label="Large select example" id="periodoNomina">

            {{#each tablaNominaValorese}}

            <option {{#ifeq this.Id @root.idNomina}} selected {{/ifeq}} value="{{this.Id}}"
                    data-desde="{{this.VigenteDesde}}" data-hasta="{{this.VigenteHasta}}">
                Entre {{FechaCorta this.VigenteDesde}} y {{FechaCorta this.VigenteHasta}}
            </option>
            {{/each}}
        </select>
    </div>
    <div class="col flex-column text-end">
        <div class="btn-group" role="group" aria-label="Acciones nómina">
            <a type="button" class="btn btn-primary rounded-circle text-end" href="/nomina/generarNomina" title="Generar nueva nómina">
                <i class="bi-coin h3"></i>
            </a>
            {{#if hayFaltantes}}
            <a type="button" class="btn btn-success rounded-circle ms-2 text-end" href="/nominaValorizada/agregar/{{idNomina}}" title="Agregar registros manuales faltantes">
                <i class="bi-plus-circle h3"></i>
            </a>
            {{else}}
            <button type="button" class="btn btn-success rounded-circle ms-2 text-end" title="No hay ítems faltantes" disabled>
                <i class="bi-plus-circle h3"></i>
            </button>
            {{/if}}
        </div>
    </div>
</div>
<table class="mt-2 table table-bordered table-striped">
    <thead>
        {{{encabezadoHTMLNominaValoresr}}}
    </thead>

    <tbody>
        {{#each tablaNominaValoresr}}
        <tr>
            <td>{{this.Id}}</td>
            <td>{{this.Descripcion}}</td>
            <td class="text-center">{{formatoMoneda this.ValorHora50}}</td>
            <td class="text-center">{{formatoMoneda this.ValorHora100}}</td>
            <td class="text-center">{{formatoMoneda
                this.ValorGuardiaDiurna}}
            </td>
            <td class="text-center">{{formatoMoneda
                this.ValorGuardiaNocturna}}
            </td>
            <td class="text-center">{{formatoMoneda
                this.ValorGuardiaPasiva}}
            </td>
            <td class="text-center">
                {{#if @root.permiteEditarNominaValoresr}}
                <a type="button" class="btn btn-primary rounded-circle" href="/nominaValorizada/editar/{{this.Id}}">
                    <i class="bi-pencil-fill"></i> </a>
                {{/if}}
                {{#if @root.permiteBorrarNominaValoresr}}
                <a type="button" class="btn btn-danger rounded-circle" href="/nominaValorizada/borrar/{{this.id}}">
                    <i class="bi-trash-fill"></i>
                </a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="paginador-container" data-tabla="nominavaloresr" data-ruta="/nominaValorizada">
    {{{paginadorNominaValoresr}}}
</div>


<script src="/js/nomina-valorizada.js"></script>