
<div class="row justify-content-center mt-2">
    <div class="col col-10">
        <div class="card">
            <form action="/novedadesTodas/Agregar" method="POST" class="form-group">
                <input type="hidden" id="TipoNovedad" name="TipoNovedad" value="">
                <div class="card-header">
                    <h2 class="text-center">Agregar novedad</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-10 col-lg-4">
                            <label for="IdEmpleado" class="form-label">Empleado</label>
                            <select class="form-select" id="IdEmpleado" name="IdEmpleado" required>
                                <option value="" selected disabled>Seleccione un empleado</option>
                                {{#each personal}}
                                <option value="{{this.Id}}">{{this.ApellidoYNombre}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-lg-4 col-sm-10">
                            <label for="Sector" class="form-label">Sector</label>
                            <select class="form-select" id="Sector" name="Sector" required>
                                <option value="" selected disabled>Seleccione un sector</option>
                                {{#each sectores}}
                                <option value="{{this.Id}}">{{this.Descripcion}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-lg-4 col-sm-10">
                            <label for="Nomina" class="form-label">Nomina a aplicar</label>
                            <select class="form-select" id="Nomina" name="Nomina" required>
                                <option value="" selected disabled>Seleccione ítem de nómina a aplicar</option>
                                {{#each nomina}}
                                <option value="{{this.Id}}" data-horas="{{this.InformaValorSueldoBasico}}"
                                    data-guardias="{{this.HaceGuardiasDiurnas}}">{{this.Descripcion}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-2">
                            <label for="MotivoExtra" class="form-label">Motivo Extra</label>
                            <select class="form-select" id="MotivoExtra" name="MotivoExtra" required>
                                <option value="" selected disabled>Seleccione un motivo extra</option>
                                {{#each motivos}}
                                <option value="{{this.Id}}" data-Reemplazo="{{this.InformaReemplazo}}"
                                    data-Observaciones="{{this.DescripcionObligatoria}}">{{this.Descripcion}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col mt-2" id="ReemplazoExtra" style="display: none;">
                            <label for="IdEmpleadoReemplazoExtra" class="form-label">Reemplaza a:</label>
                            <select class="form-select" id="IdEmpleadoReemplazoExtra" name="IdEmpleadoReemplazoExtra">
                                <option value="" selected disabled>Seleccione un empleado</option>
                                {{#each personal}}
                                <option value="{{this.Id}}">{{this.ApellidoYNombre}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col mt-2" id="ObservacionesExtra" style="display: none;">
                            <label for="DescripcionObligatoriaExtra" class="form-label">Observaciones</label>
                            <input type="text" class="form-control" id="DescripcionObligatoriaExtra"
                                name="DescripcionObligatoriaExtra">
                        </div>
                    </div>
                    <div id="Horas" style="display: none;">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <label for="Entrada" class="form-label">Inicio</label>
                                <input type="datetime-local" class="form-control" id="Entrada" name="Entrada">
                            </div>
                            <div class="col-12 col-lg-4">
                                <label for="Salida" class="form-label">Fin</label>
                                <input type="datetime-local" class="form-control" id="Salida" name="Salida">
                            </div>
                        </div>
                    </div>
                    <div id="Guardias" style="display: none;">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <label for="FechaGuardia" class="form-label">Fecha de guardia</label>
                                <input type="date" class="form-control" id="FechaGuardia" name="FechaGuardia">
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <label for="GuardiaRealizada" class="form-label">Guardia realizada</label>
                                <select class="form-select" id="GuardiaRealizada" name="GuardiaRealizada">
                                    <option value="" selected disabled>Seleccione una opción</option>
                                    {{#each guardias}}
                                    <option value="{{this.Id}}">{{this.Descripcion}} de {{Hora this.Inicio}} a
                                        {{Hora this.Fin}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <label for="TipoGuardia" class="form-label">Tipo de guardia</label>
                                <select class="form-select" id="TipoGuardia" name="TipoGuardia"
                                    onchange="manejarTipoGuardia(this)">
                                    <option value="" selected disabled>Seleccione una opción</option>
                                    <option value="1">Completa</option>
                                    <option value="2">Parcial</option>
                                </select>
                            </div>
                        </div>
                        <div id="GuardiaParcial" style="display: none">
                            <div class="row">
                                <div class="col">
                                    <label for="InicioGuardiaParcial" class="form-label">Inicio</label>
                                    <input type="time" class="form-control" id="InicioGuardiaParcial"
                                        name="InicioGuardiaParcial">
                                </div>
                                <div class="col">
                                    <label for="FinGuardiaParcial" class="form-label">Fin</label>
                                    <input type="time" class="form-control" id="FinGuardiaParcial"
                                        name="FinGuardiaParcial">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col text-center">
                            <a href="/novedadesTodas" class="btn btn-secondary">Volver</a>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        document.getElementById('MotivoExtra').addEventListener('change', function () {

            const selectedOption = this.options[this.selectedIndex];
            const reemplazo = selectedOption.getAttribute('data-Reemplazo');
            const descripcion = selectedOption.getAttribute('data-Observaciones');

            document.getElementById('ReemplazoExtra').style.display = reemplazo == '1' ? 'block' : 'none';
            if (document.getElementById('ReemplazoExtra').style.display !== 'none') {
                document.getElementById('IdEmpleadoReemplazoExtra').required = true;
            }
            else {
                document.getElementById('IdEmpleadoReemplazoExtra').required = false;
            }
            document.getElementById('ObservacionesExtra').style.display = descripcion == '1' ? 'block' : 'none';
            if (document.getElementById('ObservacionesExtra').style.display !== 'none') {
                document.getElementById('DescripcionObligatoriaExtra').required = true;
            }
            else {
                document.getElementById('DescripcionObligatoriaExtra').required = false;
            }
        });
        document.getElementById('Nomina').addEventListener('change', function () {
            const selectedOption = this.options[this.selectedIndex];
            const horas = selectedOption.getAttribute('data-horas') === '1';
            const guardias = selectedOption.getAttribute('data-guardias') === '1';

            // Mostrar u ocultar secciones
            const horasSection = document.getElementById('Horas');
            const guardiasSection = document.getElementById('Guardias');
            horasSection.style.display = horas ? 'block' : 'none';
            guardiasSection.style.display = guardias ? 'block' : 'none';

            // Configurar campos requeridos para "Horas"
            document.getElementById('Entrada').required = horas;
            document.getElementById('Salida').required = horas;

            // Configurar campos requeridos para "Guardias"
            document.getElementById('FechaGuardia').required = guardias;
            document.getElementById('GuardiaRealizada').required = guardias;
            document.getElementById('TipoGuardia').required = guardias;

            // Establecer el tipo de novedad
            document.getElementById('TipoNovedad').value = horas ? 'Horas' : guardias ? 'Guardias' : '';
        });
        document.getElementById('TipoGuardia').addEventListener('change', function () {
            const value = this.value;
            const isVisible = value == '2'; // Parcial
            document.getElementById('GuardiaParcial').style.display = isVisible ? 'block' : 'none';
            document.getElementById('InicioGuardiaParcial').required = isVisible;
            document.getElementById('FinGuardiaParcial').required = isVisible;
        });
    });

    function manejarTipoGuardia(select) {
        const selectedOption = select.options[select.selectedIndex];
        const value = selectedOption.value;

        document.getElementById('GuardiaParcial').style.display = value == '2' ? 'block' : 'none';

    }

</script>