<div class="row justify-content-center">
    <div class="col-lg-6 col-sm-10">
        <div class="row">
            <h1 class="text-center">Sectores</h1>
        </div>
        <div class="row">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        {{#if Id}} <!-- If Id is defined, we are editing a sector -->
                        <h2 class="text-center">Editando sector</h2>
                        {{else}}
                        <h2 class="text-center">Nuevo Sector</h2>
                        {{/if}}
                    </div>
                    <form action="/sectores/editar{{#if Id}}/{{Id}}{{/if}}" method="POST" class="form-group">
                        <div class="card-body">
                            <label for="Descripcion" class="form-label">Descripción</label>
                            <input type="text" class="form-control" id="Descripcion" name="Descripcion"
                                value="{{sector.Descripcion}}">
                            <label for="Supervisor" class="form-label mt-2">Supervisor</label>
                            <select class="form-select" id="Supervisor" name="Supervisor" required>
                                <option value="" disabled selected>Selecciona el supervisor del sector</option>
                                {{#each personal}}
                                <option value="{{this.idUsuario}}" {{#ifeq this.idUsuario @root.sector.IdSupervisor}}selected{{/ifeq}}>{{this.ApellidoYNombre}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary mt-2">Grabar</button>
                            <a href="/sectores" class="btn btn-primary mt-2">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>